/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
header {
  text-align: centre;
}
body {
  font-family: sans-serif;
}
h2 {
  font-weight: Bold;
  color: grey
}
